@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: hsl(212, 45%, 89%);
}

h1 {
	font-weight: 900;
	color: hsl(218, 44%, 22%);
}

p {
	font-size: 15px;
	color: hsl(216, 15%, 48%);
}

.attribution {
	font-size: 11px;
	color: black;
	margin-top: 0.5em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.card {
	padding: 1.5em;
	background-color: hsl(0, 0%, 100%);
	border-radius: 12px;
}

img {
	height: auto;
	border-radius: 10px;
    width: 100%;
}

@media screen and (min-width: 768px) {
	.card {
		width: 20%;
		height: 50%;
	}
}

@media screen and (max-width: 767px) {
	.card {
		width: 80%;
		height: 50%;
	}

	h1 {
		font-size: large;
	}

	p {
		font-size: 12px;
	}
}
